<?xml version="1.0"?>
<!--
Copyright (c) 2018, STEREOLABS.

All rights reserved.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
"AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<launch>
  <arg name="zed_namespace"		    	default="zed" />


 <!-- Choose visualization -->   <!-- 1070915  -->
  <arg name="rtabmapviz"                default="false" /> 
  <arg name="rviz"                      default="true" />
  <arg name="rviz_cfg"                  default="$(find robot_sensors)/rviz/zed_rtabmap_rgbd.rviz" />


  <arg name="rgb_topic"               	default="/zed/rgb/image_rect_color" />
  <arg name="depth_topic"             	default="/zed/depth/depth_registered" />
  <arg name="camera_info_topic"       	default="/zed/rgb/camera_info" />
  <arg name="depth_camera_info_topic" 	default="/zed/depth/camera_info" />
  <arg name="camera_frame"              default="zed_camera_center" />

  <arg name="frame_id"                  default="base_link" />

  <include file="$(find robot_sensors)/launch/ZED_cam/zed.launch">
    <arg name="publish_map_tf"            value="false" />             <!-- 1071025  -->
    <arg name="camera_frame"              value="$(arg frame_id)" />   <!-- 1071025  -->
    <arg name="floor_alignment"           value="false" />             <!-- 1071025  -->
    <arg name="initial_pose"              value="[0.11,0.06,0.3, 0.0,0.0,0.0]" /> <!-- X, Y, Z, (meter) R, P, Y, (radians)--> <!-- 1071025  -->
  </include>


  <group ns="$(arg zed_namespace)">

	<!-- RTAB-map Node-->

	<include file="$(find rtabmap_ros)/launch/rtabmap.launch">
	  <arg name="rtabmap_args"		        value="--delete_db_on_start" />
	  <arg name="rgb_topic"               	value="$(arg rgb_topic)" />
	  <arg name="depth_topic"             	value="$(arg depth_topic)" />
	  <arg name="camera_info_topic"       	value="$(arg camera_info_topic)" />
	  <arg name="depth_camera_info_topic" 	value="$(arg depth_camera_info_topic)" />
	  <arg name="frame_id"                  value="$(arg frame_id)" />

                <!--use zed odometry -->  <!-- 1070915  -->
          <arg name="visual_odometry"          default="false"/>
          <arg name="odom_topic"               default="/zed/odom"/>   
          <arg name="queue_size"               default="1000"/>
          <arg name="approx_sync"              default="true"/>  <!--false (exact sync), true (approx sync) -->

          <arg name="rtabmapviz"                value="$(arg rtabmapviz)" /> 
          <arg name="rviz"                      value="$(arg rviz)" />
          <arg name="rviz_cfg"                  value="$(arg rviz_cfg)" />

	</include>


  </group>


</launch>
