<?xml version="1.0"?>

<launch>
    <!-- Launch file parameters -->

    <arg name="scan_topic" default="scan" />
    <arg name="output"  default="screen" />    <!-- option: "screen" or "log" --> 

    <!-- gmapping -->
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="$(arg output)">

        <param name="base_frame"  value="base_link"/>    <!-- default: "base_link" -->
        <!--param name="base_frame" value="zed_camera_center"/-->
        <param name="map_frame"   value="map"/>          <!-- default: "map" -->
        <param name="odom_frame"  value="odom"/>         <!-- default: "odom" -->
        <param name="map_update_interval" value="1.0"/>    <!-- float 地图更新时间间隔(sec) default: 5.0  -->
        <param name="maxUrange"           value="8.0"/>   <!-- float default: 80.0 -->
        <param name="maxRange"            value="10.0"/>
        <param name="iterations"          value="5"/>    <!--   int 扫描匹配迭代次数 default: 5 -->
        <param name="minimumScore"      value = "300.0"/> <!--  float 考虑到扫描匹配结果的最低分数  default: 0.0 -->
        <param name="srr" value="0.01"/>                   <!-- 测位误差(平移→移动) float, default: 0.1-->
        <param name="srt" value="0.2"/>                   <!-- 测位误差(平移→旋转) float, default: 0.2-->
        <param name="str" value="0.01"/>                   <!-- 测位误差(旋转→平移) float, default: 0.1-->
        <param name="stt" value="0.2"/>                   <!-- 测位误差(旋转→旋转) float, default: 0.2-->
        <param name="linearUpdate" value="0.5"/>          <!-- 处理所需的最小移动距离 float, default: 1.0   -->   
        <param name="angularUpdate" value="0.2"/>         <!--处理所需的最小旋转角度 float, default: 0.5   -->
        <param name="temporalUpdate" value="-1.0"/>       <!--float, default: -1.0  -->
        <param name="resampleThreshold" value="0.5"/>     <!-- float, default: 0.5-->
        <param name="particles" value="50"/>               <!-- int, default: 30-->
        <param name="xmin" value="-10.0"/>   <!--float, default: -100.0-->
        <param name="ymin" value="-10.0"/>   <!--float, default: -100.0-->
        <param name="xmax" value="10.0"/>    <!--float, default: 100.0-->
        <param name="ymax" value="10.0"/>    <!--float, default: 100.0-->
        <param name="delta" value="0.03"/>   <!-- 地图分辨率:距离/像素 float, default: 0.05-->
        <remap from="scan" to="$(arg scan_topic)"/>

    </node>
</launch>
