<!-- Run the aruco_detect node -->
<launch>
  <!-- namespace for camera input -->
  <arg name="camera" default="/bebop"/>
  <!--arg name="camera" default="/usb_cam"/-->
  <arg name="image" default="image_raw"/>
  <!--arg name="image" default="image_rect"/-->
  <arg name="transport" default="compressed"/>
  <!--arg name="fiducial_len" default="0.14"/-->
  <arg name="fiducial_len" default="0.063"/>
  <arg name="dictionary" default="6"/>
  <arg name="do_pose_estimation" default="true"/>
  <!--arg name="do_pose_estimation" default="false"/-->

  <node pkg="aruco_detect" name="aruco_detect"
    type="aruco_detect" output="screen" respawn="false">
    <param name="image_transport" value="$(arg transport)"/>
    <param name="publish_images" value="true" />
    <param name="fiducial_len" value="$(arg fiducial_len)"/>
    <param name="dictionary" value="$(arg dictionary)"/>
    <param name="do_pose_estimation" value="$(arg do_pose_estimation)"/>


    <remap from="/camera/compressed"    to="$(arg camera)/$(arg image)/$(arg transport)"/>
    <remap from="/camera_info" to="$(arg camera)/camera_info"/>
  </node>


  <node name="fiducial_image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/fiducial_images"/>
    <param name="autosize" value="true" />
  </node>

</launch>
