<?xml version="1.0"?>
<launch>
   <node name="arduino" pkg="ros_arduino_python" type="arduino_node.py" output="screen">
      <!--rosparam file="$(find robot_sensors)/config/my_arduino_params_smallTank.yaml" command="load" /-->
      <rosparam file="$(find robot_sensors)/config/my_arduino_params_midTank.yaml" command="load" />
      <!--rosparam file="$(find robot_sensors)/config/my_arduino_params_bigTank.yaml" command="load" /-->

      <!--param name="publish_tf"           value="false"/-->
   </node>
</launch>
