<?xml version="1.0"?>
<launch>

    <arg name="use_rviz" default="false" />
    <!--arg name="use_rviz" default="true" /-->

    <!-- TF setting -->
    <include file="$(find robot_sensors)/include/midtank_tf.launch.xml" />


    <!-- SENSOR DEVICE -->
    <!-- IMU -->
    <include file="$(find robot_sensors)/launch/imu/my_razor-pub.launch" />
    <!-- Arduino  wheel odometry  and motor drive -->
    <include file="$(find robot_sensors)/launch/base_link/my_midTank_arduino_NO_tf.launch" />

    <!-- EKF -->
    <include file="$(find robot_sensors)/launch/ekf/my_ekf_wheel_imu.launch" />



    <!-- Rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find robot_sensors)/rviz/odom.rviz" if="$(arg use_rviz)" />

</launch>

