<?xml version="1.0"?>
<launch>
    <!-- roslaunch robot_sensors midTank_bringup.launch  -->


  <arg name="use_rviz"                  default="true" />
  <!--arg name="rviz_cfg"                  default="$(find robot_sensors)/rviz/zed_rtabmap_rgbd.rviz" /-->
  <!--arg name="rviz_cfg"                  default="$(find robot_sensors)/rviz/single_robot.rviz" /-->
  <arg name="rviz_cfg"                  default="$(find robot_sensors)/rviz/zed_robot.rviz" />



  <arg name="Fusing_GPS_Data"           default="false"/>


  <arg name="use_rlidar"                 default="true" />

  <arg name="use_ZED"                    default="true" />
  <arg name="ZED_publish_tf"            default="false" />

  <arg name="publish_wheel_odom_tf"     default="false"/>        

    <!--arg name="use_rviz" default="true" /-->


    <!-- TF setting -->

    <include file="$(find robot_sensors)/launch/bringup/TankTB400/TankTB400_tf2.launch.xml" />




                          <!-- SENSOR DEVICE -->
    <!-- IMU -->

    <!-- Arduino  wheel odometry  and motor drive -->
    <include file="$(find robot_sensors)/launch/base_link/TankTB400_arduino.launch" >   
	<arg name="publish_tf"          	value="$(arg publish_wheel_odom_tf)" />
	</include>

    <!-- ZED -->

  <include if="$(arg use_ZED)" file="$(find robot_sensors)/launch/ZED_cam/zed.launch">
    <arg name="publish_map_tf"            value="false" />             <!-- 1071025  -->
    <arg name="camera_frame"              value="base_link" />       <!-- 1071025  -->
    <arg name="floor_alignment"           value="false" />             <!-- 1071025  -->
    <arg name="initial_pose"              value="[0.11,0.06,0.3, 0.0,0.0,0.0]" /> <!-- X, Y, Z, (meter) R, P, Y, (radians)--> <!-- 1071025  -->
  </include>


    <!-- ydlidar -->
    <include if="$(arg use_rlidar)" file="$(find robot_sensors)/launch/ydlidar/lidar.launch" />




    <!-- GPS -->
    <!--include file="$(find robot_sensors)/launch/ublox_gps/ublox_device_rover.launch" /-->


    <!-- EKF -->


    <!-- Rviz -->
    <node if="$(arg use_rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_cfg)" output="screen" />


</launch>

