<?xml version="1.0"?>
<launch>
   <arg name="ZED_publish_tf"            default="true" />
    <include ns="camera" file="$(find zed_wrapper)/launch/zed_camera.launch" >
       <!-- publish odometry frame -->
       <arg name="publish_tf"            value="$(arg ZED_publish_tf)" />
       <!--arg name="base_frame"         value="zed_center" /-->
       <arg name="base_frame"            value="base_link" />
       <arg name="depth_frame"           value="zed_depth_camera" />
       <arg name="odometry_frame"        value="odom" />
       <!--param name="openni_depth_mode"        value="1" /-->

    </include>
</launch>
