<?xml version="1.0"?>
<launch>


    <!-- for nav -->
    <arg name="use_dwa"  default="true" /> 


    <!-- ********************** -->
    <!-- Navigation (move_base) -->
    <!-- ********************** -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" >
    <!--node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true" -->
        <!-- global planner -->
        <param name="base_global_planner" value="global_planner/GlobalPlanner" />
        <rosparam file="$(find robot_sensors)/config/hypharos_minibot/global_planner_params.yaml" command="load" />
        <!-- local planner -->   
        <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" if="$(arg use_dwa)"/>      
        <rosparam file="$(find robot_sensors)/config/hypharos_minibot/dwa_local_planner_params.yaml" command="load" if="$(arg use_dwa)"/>
        <rosparam file="$(find robot_sensors)/config/hypharos_minibot/base_local_planner_params.yaml" command="load" unless="$(arg use_dwa)" />         
        <!-- params for move_base -->
        <param name="planner_frequency" value="0.0" />
        <param name="controller_frequency" value="10.0" />
        <param name="controller_patience" value="3.0" />
        <param name="oscillation_timeout" value="10.0" />
        <param name="oscillation_distance" value="0.05" />
        <param name="clearing_rotation_allowed" value="false" />
        <!-- params for costmap layers --> 
        <rosparam file="$(find robot_sensors)/config/hypharos_minibot/local_costmap_params.yaml" command="load"/>
        <rosparam file="$(find robot_sensors)/config/hypharos_minibot/global_costmap_params.yaml" command="load"/>
    </node>

  
</launch>
