# set the udev rule , make the device_port be fixed by 
#
KERNEL=="input/js*", ATTRS{idVendor}=="045e", ATTRS{idProduct}=="028e", MODE:="0666", GROUP:="dialout", SYMLINK+="x360_joystick"
